<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Dao" value="Fake"/>               <!-- Database | Fake -->
    <add key="LogLevel" value="Debug"/>         <!-- Debug | Trace | Warn | Info | Error | Fatal-->
    <add key="LoggerOutput" value="Eventlog"/>   <!-- file | Console    OUTPUT-->
  </appSettings>
</configuration>